@page "/assets/add"
@using System.Net
@using NomaNova.Ojeda.Models.Assets

@inject NavigationManager NavManager
@inject IToastService ToastService
@inject OjedaClient Ojeda

<h3>Add Asset</h3>

@if (_error != null)
{
    <p class="text-danger fst-italic">@_error</p>
    <a href="/assets">Return to Assets</a>
}
else if (_isLoading)
{
    <p class="text-muted fst-italic">Loading...</p>   
}
else
{
    <!-- Class -->        
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h5>Class</h5>
                </div>
                <div class="col-8">
                    <p>@_asset.AssetClass.Name</p>
                    <span class="text-muted fst-italic">@_asset.AssetClass.Description</span>
                </div>
            </div>
        </div>
    </div>
                              
    <EditForm EditContext="_editContext" OnValidSubmit="OnSubmitForm">
        
        <FluentValidationValidator />
        <ServerSideFluentValidation @ref="_serverValidation" />
        
        @foreach (var fieldSet in _asset.FieldSets)
        {
            <FormSection Title="@fieldSet.Name" HelpText="@fieldSet.Description">
                @foreach (var field in fieldSet.Fields)
                {
                    var hash = $"{fieldSet.Id}-{field.Id}".ToShortHash();
                    
                    <div class="mb-3">
                        <label for="@hash" class="form-label">@field.Name</label>
                        <InputText @bind-Value="field.Value" class="form-control" id="@hash" disabled="@_isLoading"></InputText>
                        @if (!string.IsNullOrEmpty(field.Description))
                        {
                            <p class="text-muted fst-italic mt-1">@field.Description</p>
                        }
                    </div>

                }
            </FormSection>
        }
        
        <!-- Footer -->
        <div class="my-4">
            <button class="btn btn-primary" type="submit" disabled="@_isLoading">
                @if (_isLoading)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>   
                }
                Submit
            </button>
            <button class="btn" type="button" @onclick="OnCancel" disabled="@_isLoading">Cancel</button>
        </div>
        
    </EditForm>
}

@code {

    private AssetDto _asset;
    private EditContext _editContext;
    
    private ServerSideFluentValidation _serverValidation;

    private bool _isLoading;
    private string _error;
    
    protected override async Task OnInitializedAsync()
    {
        NavManager.TryGetQueryString<string>("assetClassId", out var assetClassId);

        await GetAssetClass(assetClassId);
    }

    private async Task OnSubmitForm()
    {
        Console.WriteLine("here");
        
        if (_isLoading)
        {
            return;
        }
        
        _isLoading = true;
        _serverValidation.ClearErrors();

        var result = await Ojeda.AssetsService.CreateAsync(_asset);
        
        if(result.StatusCode == HttpStatusCode.BadRequest && result.Error.ValidationErrors.Any())
        {
            _serverValidation.DisplayErrors(result.Error.ValidationErrors);
        }
        else if (!result.Success)
        {
            ToastService.ShowError($"Could not submit asset. {result.Error?.Message} ({result.Error?.Code}).");
        }
        else
        {
            NavManager.NavigateTo("/assets"); // TODO: replace with asset location
        }
        
        _isLoading = false;
    }

    private void OnCancel()
    {
        if (_isLoading)
        {
            return;
        }
        
        NavManager.NavigateTo("/assets");
    }
    
    private async Task GetAssetClass(string assetClassId)
    {
        if (string.IsNullOrEmpty(assetClassId))
        {
            _error = "Cannot load asset: asset class id is missing.";
            return;
        }

        _isLoading = true;
        
        var result = await Ojeda.AssetsService.GetByAssetClass(assetClassId);

        if (result.Success)
        {
            _error = null;
            _asset = result.Data;
            
            _editContext = new EditContext(_asset);
            _editContext.SetFieldCssClassProvider(new BootstrapCssClassProvider());
        }
        else if (result.StatusCode == HttpStatusCode.NotFound)
        {
            _error = "Cannot load asset: asset class does not exist.";
        }
        else
        {
            ToastService.ShowError($"Could not load asset class. {result.Error?.Message} ({result.Error?.Code}).");
            NavManager.NavigateTo("/assets");
        }

        _isLoading = false;
    }
}