@inherits DeleteItemModal

@inject OjedaClient _ojeda

<DeleteItemModalTemplate
    Text="<p>Are you sure you want to delete this asset?</p>"
    IsLoading="@IsLoading"
    IsDisabled="@IsLoading"
    Error="@Error"
    DeleteCallBack="@OnDeleteAsync"
    CancelCallBack="@OnCancelAsync"/>

@code {

    protected override async Task<OjedaResult> DeleteAsync()
    {
        return await _ojeda.AssetsService.DeleteAsync(Id);
    }

}