<div class="d-flex flex-column justify-content-between">

    <div class="mb-3" style="height: 200px; overflow-y: auto;">
        @((MarkupString)Text)

        @if (Error != null)
        {
            <p class="text-danger fst-italic">@Error</p>
        }
    </div>

    <div class="d-flex justify-content-between align-items-center">

        <div class="d-flex align-items-center">
            <Spinner IsLoading="@IsLoading"/>
        </div>

        <div>
            <OjedaButton
                OnClick="@CancelCallBack"
                Text="Cancel"
                IsDisabled="@IsLoading"/>
            <span class="ps-2"></span>
            <OjedaButton
                Style="@ActionButtonStyle"
                OnClick="@ActionCallBack"
                Text="@ActionButtonText"
                IsDisabled="@(IsDisabled || IsLoading)"/>
        </div>

    </div>

</div>

@code {

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Error { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public ButtonStyle ActionButtonStyle { get; set; } = ButtonStyle.Danger;

    [Parameter]
    public string ActionButtonText { get; set; } = "Delete";
    
    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public EventCallback CancelCallBack { get; set; }

    [Parameter]
    public EventCallback ActionCallBack { get; set; }

}