@using System.Text
@inherits DryRunDeleteItemModal<DryRunDeleteAssetTypeDto>

@inject OjedaClient _ojeda

<DeleteItemModalTemplate
    Text="@Text"
    IsLoading="@IsLoading"
    IsDisabled="@IsDisabled"
    Error="@Error"
    DeleteCallBack="@OnDeleteAsync"
    CancelCallBack="@OnCancelAsync"/>

@code {
    
    protected override async Task<OjedaResult> DeleteAsync()
    {
        return await _ojeda.AssetTypesService.DeleteAsync(Id);
    }
    
    protected override async Task<OjedaDataResult<DryRunDeleteAssetTypeDto>> DryRunDeleteAsync()
    {
        return await _ojeda.AssetTypesService.DryRunDeleteAsync(Id);
    }

    protected override string GetText(DryRunDeleteAssetTypeDto data)
    {
        var text = new StringBuilder();

        text.AppendLine($"<p>Are you sure you want to delete asset type '<b>{Name}</b>'?</p>");

        if (data.Assets.Count > 0)
        {
            text.AppendLine($"<p>This asset type is used by <b>{data.Assets.Count} asset(s)</b>. All linked assets and related data will be deleted.</p>");
            text.AppendLine("<p>This change is <b>irreversible</b>!</p>");
        }

        return text.ToString();
    }
    
}