@using System.Text
@inherits DryRunDeleteItemModal<DryRunDeleteAssetTypeDto>

@inject OjedaClient _ojeda

<ActionModalTemplate
    Text="@Text"
    IsLoading="@IsLoading"
    IsDisabled="@IsDisabled"
    Error="@Error"
    ActionCallBack="@OnDeleteAsync"
    CancelCallBack="@OnCancelAsync"/>

@code {
    
    protected override async Task<OjedaResult> DeleteAsync()
    {
        return await _ojeda.AssetTypesService.DeleteAsync(Id);
    }
    
    protected override async Task<OjedaDataResult<DryRunDeleteAssetTypeDto>> DryRunDeleteAsync()
    {
        return await _ojeda.AssetTypesService.DryRunDeleteAsync(Id);
    }

    protected override string GetText(DryRunDeleteAssetTypeDto data)
    {
        var text = new StringBuilder();

        text.AppendLine($"<p>Are you sure you want to delete asset type '<b>{Name}</b>'?</p>");

        if (data.Assets.Count > 0)
        {
            text.AppendLine(data.Assets.Count == 1 ?
                "<p>This asset type is used by <b>1 asset</b>.</p>" :
                $"<p>This asset type is used by <b>{data.Assets.Count} assets</b>.</p>");

            text.AppendLine("<p>All linked assets and related data will be <b>irreversibly deleted</b>.</p>");
        }

        return text.ToString();
    }
    
}