@page "/admin/asset-types"
@layout AdminLayout
@inherits ListItemsPage<AssetTypeDto>

@inject ITimeKeeper _timeKeeper
@inject OjedaClient _ojeda

<OjedaBreadcrumb Data="@_breadcrumbItems"/>

<h3>Asset Types</h3>

<div class="d-flex justify-content-between my-3">

    <div class="d-flex">
        <div style="width: 350px;">
            <Search OnValueChanged="@OnSearchAsync"></Search>
        </div>

        <div class="ms-2">
            <OjedaButton Style="@ButtonStyle.Primary" OnClick="OnAdd" Text="Add Asset Type"/>
        </div>

    </div>

    <Spinner IsLoading="@IsLoading"/>
</div>

@if (Items == null)
{
    <p class="text-muted fst-italic">Loading...</p>
}
else if (!Items.Any())
{
    if (string.IsNullOrEmpty(SearchQuery))
    {
        <p class="text-muted fst-italic">No items available.</p>
    }
    else
    {
        <p class="text-muted fst-italic">No search results.</p>
    }
}
else
{
    <ActionsTableTemplate TItem="AssetTypeDto"
                          Items="@Items"
                          EditItemCallBack="@OnEdit"
                          DeleteItemCallBack="@OnDelete">
        <TableHeader>
            <th>Name</th>
            <th>Description</th>
            <th># Field Sets</th>
            <th>Last Updated</th>
        </TableHeader>
        <RowTemplate Context="assetType">
            <td>@assetType.Name</td>
            <td>
                <Description Value="@assetType.Description"/>
            </td>
            <td>@assetType.FieldSets.Count</td>
            <td>@assetType.UpdatedAt.ToRelativeTime(_timeKeeper)</td>
        </RowTemplate>
    </ActionsTableTemplate>

    <div class="my-4">
        <OjedaPager
            PageCount="@PageCount"
            CurrentPage="@CurrentPage"
            PageSize="@PageSize"
            TotalCount="@TotalCount"
            OnPageChanged="@OnPageChanged"
            OnPageSizeChanged="@OnPageSizeChanged"/>
    </div>
}

@code {

    private readonly ICollection<BreadcrumbItem> _breadcrumbItems = new List<BreadcrumbItem>
    {
        new() {Text = "Admin", Url = "/admin"},
        new() {Text = "Asset Types"}
    };

    protected override string Path => "/admin/asset-types";

    protected override async Task<bool> DeleteItemAsync(AssetTypeDto item)
    {
        var parameters = new ModalParameters();
        parameters.Add("Id", item.Id);
        parameters.Add("Name", item.Name);

        var deleteAssetTypeModal = Modal.Show<DeleteAssetTypeModal>("Delete Asset Type", parameters, Constants.DefaultModalOptions);

        var result = await deleteAssetTypeModal.Result;
        return !result.Cancelled;
    }

    protected override async Task<OjedaDataResult<PaginatedListDto<AssetTypeDto>>> FetchItemsAsync(string query = null,
        int pageNumber = Constants.DefaultPageNumber,
        int pageSize = Constants.DefaultPageSize)
    {
        return await _ojeda.AssetTypesService.GetAsync(query, null, true, pageNumber, pageSize);
    }

}