@page "/admin/asset-types"
@layout AdminLayout
@inherits ListItemsPage<AssetTypeDto>

@inject ITimeKeeper _timeKeeper
@inject OjedaClient _ojeda

<ExpandablePage
    CssClass="px-3"
    HeaderCssClass="pt-3">

    <Header>

        <OjedaBreadcrumb Data="@_breadcrumbItems"/>

        <PageHeader Title="Asset Types">
            <Toolbar>
                <div class="d-flex align-items-center me-3">
                    <Spinner IsLoading="@IsLoading"/>
                </div>

                <div class="me-3" style="width: 350px;">
                    <Search OnValueChanged="@OnSearchAsync"></Search>
                </div>

                <OjedaButton Style="@ButtonStyle.Primary" OnClick="OnAdd" Text="Add Asset Type"/>

            </Toolbar>
        </PageHeader>

    </Header>

    <Content>

        @if (Items == null)
        {
            <p class="text-muted fst-italic">Loading...</p>
        }
        else if (!Items.Any())
        {
            if (string.IsNullOrEmpty(SearchQuery))
            {
                <p class="text-muted fst-italic">No items available.</p>
            }
            else
            {
                <p class="text-muted fst-italic">No search results.</p>
            }
        }
        else
        {
            <ActionsTableTemplate TItem="AssetTypeDto"
                                  Items="@Items"
                                  EditItemCallBack="@OnEdit"
                                  DeleteItemCallBack="@OnDelete">
                <TableHeader>
                    <th>Name</th>
                    <th>Description</th>
                    <th># Field Sets</th>
                    <th>Last Updated</th>
                </TableHeader>
                <RowTemplate Context="assetType">
                    <td>@assetType.Name</td>
                    <td>
                        <Description Value="@assetType.Description"/>
                    </td>
                    <td>@assetType.FieldSets.Count</td>
                    <td>@assetType.UpdatedAt.ToRelativeTime(_timeKeeper)</td>
                </RowTemplate>
            </ActionsTableTemplate>
        }
    </Content>

    <Footer>

        @if (!(Items == null || !Items.Any()))
        {
            <div class="my-3">
                <OjedaPager
                    PageCount="@PageCount"
                    CurrentPage="@CurrentPage"
                    PageSize="@PageSize"
                    TotalCount="@TotalCount"
                    OnPageChanged="@OnPageChanged"
                    OnPageSizeChanged="@OnPageSizeChanged"/>
            </div>
        }

    </Footer>

</ExpandablePage>

@code {

    private readonly ICollection<BreadcrumbItem> _breadcrumbItems = new List<BreadcrumbItem>
    {
        new() { Text = "Admin", Url = "/admin" },
        new() { Text = "Asset Types" }
    };

    protected override string Path => "/admin/asset-types";

    protected override async Task<bool> DeleteItemAsync(AssetTypeDto item)
    {
        var parameters = new ModalParameters();
        parameters.Add("Id", item.Id);
        parameters.Add("Name", item.Name);

        var deleteAssetTypeModal = Modal.Show<DeleteAssetTypeModal>("Delete Asset Type", parameters, Constants.DefaultModalOptions);

        var result = await deleteAssetTypeModal.Result;
        return !result.Cancelled;
    }

    protected override async Task<OjedaDataResult<PaginatedListDto<AssetTypeDto>>> FetchItemsAsync(string query = null,
        int pageNumber = Constants.DefaultPageNumber,
        int pageSize = Constants.DefaultPageSize)
    {
        return await _ojeda.AssetTypesService.GetAsync(query, null, true, pageNumber, pageSize);
    }

}