@using System.Text
@inherits DryRunDeleteItemModal<DryRunDeleteFieldSetDto>

@inject OjedaClient _ojeda

<ActionModalTemplate
    Text="@Text"
    IsLoading="@IsLoading"
    IsDisabled="@IsDisabled"
    Error="@Error"
    ActionCallBack="@OnDeleteAsync"
    CancelCallBack="@OnCancelAsync"/>

@code {

    protected override async Task<OjedaResult> DeleteAsync()
    {
        return await _ojeda.FieldSetsService.DeleteAsync(Id);
    }
    
    protected override async Task<OjedaDataResult<DryRunDeleteFieldSetDto>> DryRunDeleteAsync()
    {
        return await _ojeda.FieldSetsService.DryRunDeleteAsync(Id);
    }
    
    protected override string GetText(DryRunDeleteFieldSetDto data)
    {
        var text = new StringBuilder();

        text.AppendLine($"<p>Are you sure you want to delete field set '<b>{Name}</b>'?</p>");

        if (data.AssetTypes.Count > 0)
        {
            text.AppendLine(data.AssetTypes.Count == 1 ?
                "<p>This field set will be removed from <b>1 asset type</b>.</p>" :
                $"<p>This field set will be removed from <b>{data.AssetTypes.Count} asset types</b>.</p>");
        }

        if (data.Assets.Count > 0)
        {
            text.AppendLine(data.Assets.Count == 1 ? 
                "<p>There is <b>1 impacted asset</b>.</p>" : 
                $"<p>There are <b>{data.Assets.Count} impacted assets</b>.</p>");
        
            text.AppendLine("<p>All linked field values will be <b>irreversibly deleted</b>.</p>");
        }

        return text.ToString();
    }
    
}