@using System.Net

@inject NavigationManager NavManager
@inject IToastService ToastService

<EditForm EditContext="_editContext" OnValidSubmit="OnSubmitForm">
    
    <FluentValidationValidator />
    <ServerSideFluentValidation @ref="_serverValidation" />
    
    <!-- Name -->
    <div class="mb-3 w-50">
        <label for="fieldSetName" class="form-label">Name*</label>
        <InputText @bind-Value="_fieldSet.Name" class="form-control" id="fieldSetName" disabled="@_isLoading"></InputText>
        <ValidationMessage For="@(() => _fieldSet.Name)"></ValidationMessage>
    </div>
    
    <!-- Description -->
    <div class="mb-3 w-50">
        <label for="fieldSetDescription" class="form-label">Description</label>
        <InputText @bind-Value="_fieldSet.Description" class="form-control" id="fieldSetDescription" disabled="@_isLoading"></InputText>
        <ValidationMessage For="@(() => _fieldSet.Description)"></ValidationMessage>
    </div>

    <!-- Fields -->
    <div class="mb-3 w-50">
        <div class="d-flex justify-content-between">
            <label class="form-label">Fields*</label>
            <a class="btn-link @(_isLoading ? "disabled" : "")" role="button" @onclick="@OnAddField">Add Field</a>
        </div>

        <div>
            @if (_fieldSet.Fields?.Count > 0)
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th class="py-2"><!-- Move up --></th>
                        <th class="py-2"><!-- Move down --></th>
                        <th class="py-2">Name</th>
                        <th class="py-2">Description</th>
                        <th class="py-2">Type</th>
                        <th class="py-2"><!-- Remove --></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var fieldSetField in _fieldSet.Fields)
                    {
                        <tr>
                            <td class="pb-2 pr-0">
                                @if (fieldSetField.Order != 1 && _fieldSet.Fields.Count > 1)
                                {
                                    <a class="text-dark text-decoration-none" title="Move up" role="button" @onclick="@(() => OnMoveFieldUp(fieldSetField))">
                                        <i class="fs-6 bi-arrow-up-circle"></i>
                                    </a>
                                }
                            </td>
                            <td class="pb-2 pr-0">
                                @if (fieldSetField.Order != _fieldSet.Fields.Count && _fieldSet.Fields.Count > 1)
                                {
                                    <a class="text-dark text-decoration-none" title="Move down" role="button" @onclick="@(() => OnMoveFieldDown(fieldSetField))">
                                        <i class="fs-6 bi-arrow-down-circle"></i>
                                    </a>
                                }
                            </td>
                            <td class="pb-2 pr-3">@fieldSetField.Field.Name.Truncate()</td>
                            <td class="pb-2 pr-3">
                                @if (string.IsNullOrEmpty(fieldSetField.Field.Description))
                                {
                                    <span class="text-muted fst-italic">No description</span>
                                }
                                else
                                {
                                    @fieldSetField.Field.Description.Truncate()    
                                }
                            </td>
                            <td class="pb-2 pr-3">@fieldSetField.Field.Type</td>
                            <td class="pb-2 pr-3">
                                <a class="text-dark text-decoration-none" title="Remove" role="button" @onclick="@(() => OnRemoveField(fieldSetField))">
                                    <i class="fs-6 bi-x-circle"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-muted fst-italic">Use the link on the right to start adding fields.</p>
            }
            <ValidationMessage For="@(() => _fieldSet.Fields)"></ValidationMessage>
        </div>
    </div>

    <!-- Footer -->
    <div class="my-5">
        <button class="btn btn-primary" type="submit" disabled="@_isLoading">
            @if (_isLoading)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="visually-hidden">Loading...</span>   
            }
            Submit
        </button>
        <button class="btn btn-secondary" type="button" @onclick="OnReset" disabled="@_isLoading">Reset</button>
        <button class="btn" type="button" @onclick="OnCancel" disabled="@_isLoading">Cancel</button>
    </div>
    
</EditForm>

@code {
    
    private FieldSetDto _fieldSet;
    private EditContext _editContext;
    
    private ServerSideFluentValidation _serverValidation;
    
    private bool _isLoading;
    
    [CascadingParameter] 
    public IModalService Modal { get; set; }

    [Parameter]
    public FieldSetDto FieldSet { get; set; }
    
    [Parameter] 
    public Func<FieldSetDto, Task<OjedaDataResult<FieldSetDto>>> OnSubmit { get; set; }
    
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        Init();
        
        if (FieldSet != null)
        {
            _fieldSet.Id = FieldSet.Id;
            _fieldSet.Name = FieldSet.Name;
            _fieldSet.Description = FieldSet.Description;
            
            _fieldSet.Fields.Clear();
            _fieldSet.Fields.AddRange(FieldSet.Fields.Select(_ => new FieldSetFieldDto
            {
                Order = _.Order,
                Field = new FieldDto
                {
                    Id = _.Field.Id,
                    Name = _.Field.Name,
                    Description = _.Field.Description,
                    Type = _.Field.Type
                }
            }));
        }
    }
    
    protected override void OnInitialized()
    {
        Init();
    }
    
    private async Task OnAddField()
    {
        if (_isLoading)
        {
            return;
        }
        
        var parameters = new ModalParameters();
        
        var excludedIds = _fieldSet.Fields.Select(_ => _.Field.Id).ToList();
        parameters.Add("ExcludedIds", excludedIds);
        
        var selectFieldModal = Modal.Show<AddFieldModal>("Add Field", parameters, Constants.DefaultModalOptions);
        var result = await selectFieldModal.Result;

        if (!result.Cancelled)
        {
            _fieldSet.Fields.Add(new FieldSetFieldDto
            {
                Order = _fieldSet.Fields.Count == 0 ? 1 : _fieldSet.Fields.Max(f => f.Order) + 1,
                Field = (FieldDto) result.Data
            });
            
            StateHasChanged();
        }
    }

    private void OnReset()
    {
        if (_isLoading)
        {
            return;
        }

        Init();
    }
    
    private void OnCancel()
    {
        if (_isLoading)
        {
            return;
        }
        
        NavManager.NavigateTo("/admin/field-sets");
    }

    private void OnMoveFieldUp(FieldSetFieldDto fieldSetFieldDto)
    {
        if (_isLoading)
        {
            return;
        }
        
        var index = _fieldSet.Fields.IndexOf(fieldSetFieldDto);
        
        _fieldSet.Fields.RemoveAt(index);
        _fieldSet.Fields.Insert(index - 1, fieldSetFieldDto);
        
        UpdateOrder();
    }

    private void OnMoveFieldDown(FieldSetFieldDto fieldSetFieldDto)
    {
        if (_isLoading)
        {
            return;
        }
        
        var index = _fieldSet.Fields.IndexOf(fieldSetFieldDto);
        
        Console.WriteLine($"Index: {index}");
        
        _fieldSet.Fields.RemoveAt(index);
        _fieldSet.Fields.Insert(index + 1, fieldSetFieldDto);
        
        UpdateOrder();
    }
    
    private void OnRemoveField(FieldSetFieldDto fieldSetFieldDto)
    {
        if (_isLoading)
        {
            return;
        }
        
        _fieldSet.Fields.Remove(fieldSetFieldDto);
        UpdateOrder();
    }
    
    private async Task OnSubmitForm()
    {
        if (_isLoading)
        {
            return;
        }
        
        _isLoading = true;
        _serverValidation.ClearErrors();
        Init(_fieldSet);
        
        var result = await OnSubmit(_fieldSet);
        
        if(result.StatusCode == HttpStatusCode.BadRequest && result.Error.ValidationErrors.Any())
        {
            _serverValidation.DisplayErrors(result.Error.ValidationErrors);
        }
        else if (!result.Success)
        {
            ToastService.ShowError($"Could not submit field set. {result.Error?.Message} ({result.Error?.Code}).");
        }
        else
        {
            NavManager.NavigateTo("/admin/field-sets");
        }
        
        _isLoading = false;
    }

    private void Init(FieldSetDto fieldSet = null)
    {
        _fieldSet = fieldSet ?? new FieldSetDto();
        
        _editContext = new EditContext(_fieldSet);
        _editContext.SetFieldCssClassProvider(new BootstrapCssClassProvider());
    }

    private void UpdateOrder()
    {
        var order = 1;
        foreach (var fieldSetField in _fieldSet.Fields)
        {
            fieldSetField.Order = order;
            order++;
        }
    }
}