@inherits SelectItemModal<FieldDto>

@inject OjedaClient Ojeda

<SelectItemModalTemplate TItem="FieldDto"
                         HelpText="Select the <strong>field</strong> to add below."
                         Error="@Error"
                         IsLoading="@IsLoading"
                         SearchQuery="@SearchQuery"
                         PageCount="@PageCount"
                         CurrentPage="@CurrentPage"
                         Items="@Items"
                         SearchCallback="@OnSearchAsync"
                         SelectItemCallBack="@OnItemSelected"
                         PageChangedCallback="@OnPageChanged"
                         CancelCallBack="@OnCancel">
    <TableHeader>
        <th>Name</th>
        <th>Description</th>
    </TableHeader>
    <RowTemplate Context="field">
        <td class="pb-2">@field.Name.Truncate()</td>
        <td class="pb-2"><Description Value="@field.Description" /></td>
    </RowTemplate>
</SelectItemModalTemplate>

@code {
    
    protected override async Task<OjedaDataResult<PaginatedListDto<FieldDto>>> FetchItemsAsync(
        string query = null,
        IList<string> excludedIds = null,
        int pageNumber = Constants.DefaultPageNumber,
        int pageSize = Constants.DefaultPageSize)
    {
        return await Ojeda.FieldsService.GetAsync(
            query, null, true, ExcludedIds, pageNumber, pageSize);
    }
}