@page "/admin/fields"
@inject NavigationManager NavManager
@inject OjedaClient Ojeda

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Fields</li>
    </ol>
</nav>

<h3>Fields</h3>

<div class="clearfix my-4">
    
    <DebounceInput id="inp-search" class="form-control w-50 float-left" placeholder="Search..." autocomplete="off"
                   @bind-Value="@_searchQuery" @bind-Value:event="OnInput"
                   DebounceTime="@SearchDebounceMs"
                   MinLength="@SearchMinInputChars"
                   OnValueChanged="OnSearchAsync" />
    
    <button class="btn btn-primary float-right" @onclick="OnAddField">Add Field</button>
    
</div>

@if (_fields == null)
{
    <p>Loading fields...</p>   
}
else if (!_fields.Any())
{
    if (string.IsNullOrEmpty(_searchQuery))
    {
        <p>No fields available.</p>      
    }
    else
    {
        <p>No search results.</p> 
    }
}
else
{
    
    <table class="w-100">
        <thead>
            <tr>
                <th class="py-2">Name</th>
                <th class="py-2">Description</th>
                <th class="py-2">Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var field in _fields)
            {
                <tr>
                    <td class="pb-2 pr-3">@field.Name</td>
                    <td class="pb-2 pr-3">@field.Description</td>
                    <td class="pb-2 pr-3">@field.Type</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
        
    private const int SearchMinInputChars = 1;
    private const int SearchDebounceMs = 400;

    private string _searchQuery = "";
    private IEnumerable<FieldDto> _fields;

    protected override async Task OnInitializedAsync()
    {
        await GetFieldsAsync();
    }

    private async Task OnSearchAsync(string query)
    {
        await GetFieldsAsync(query);
    }

    private void OnAddField()
    {
        NavManager.NavigateTo("/admin/fields/add");
    }

    private async Task GetFieldsAsync(string query = null)
    {
        var result = await Ojeda.FieldsService.GetAsync(query);

        if (result.Success)
        {
            _fields = result.Data.Items;
        }
    }
}